body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Used by D3 for property of graph */
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.area {
    fill: lightsteelblue;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}
